html, body, form, fieldset, 3a9737, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin:0;
	padding:0;
}

body {
 	margin: 1em;
	padding: 0;
	background-color: #ffffff;
	font-family: helvetica, arial, sans-serif;
	font-size:85%;
	color: #333;
}

div, p, ul, ol {
	font-size: 100%;	
}

h1, h2, h3, h4, p, ul, ol, dl {
	margin-top: 1em;
	margin-bottom: 0; 
	line-height: 1.4em;
}

h1 {
	padding-bottom: 0;
	font-size: 148%;
	font-weight: normal;
}

h2 {
	font-size: 131%;
	font-weight: normal; 
}  

h3 {
	font-size: 108%;
}  

h4 {
	font-size: 100%;
}  

hr {
	margin: 1em 0 2em 0;
	width: 100%;
	border: 0;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
}

div.hr hr {
	display: none;
}

ul, ol {position: relative; }

ul, ol {
	margin-left: 2em;
}

ul li {
  padding-left: 0;
  list-style-type: disc;
  background-repeat: no-repeat;
}

ul li ul, ul li ol {
	margin-left: 0;
	padding-bottom:0;
}

a, a:visited {
	color: #2c65af;
	text-decoration: none;
	font-weight:normal;
}

a:hover {
	color: #0f2659;
}

a#active {
	color: #2c65af;
}

table {
	border-collapse: collapse;
	border-color: #ccc;
	margin: 1em 0;
}

table.grid {
	border: 1px solid #666;
}

table.grid th {
	padding: .5em;
	font-size: 85%;
	color: #333;
	text-align: left;
}

table.grid td {
	padding: .5em;
	font-size: 73%;
	text-align: left;
	border-top: 1px solid #999; 
}

img {
	border: none;
}

label {
	margin: 1em .5em 0 0;
	display: block;
	float: left;
	width: 10em; 
	text-align: right;
}

fieldset {
	padding: 1em;
	width: 30em;
	border: 1px solid #999;
}

p#footer {
	border-top: 1px solid #ddd;
	margin-top: 10em;
	padding-top: .5em;
	text-align: center;
	color: #999;
	font-size: 73%;
}

#tab_controller {
	clear: both;
}

#tab_controller ul {
    list-style: none;
    margin: .5em 0 0 0;
    padding: 0px;
}

#tab_controller li {
    float: left;
	margin-top: 15px;
	list-style-type: none;
}

#tab_controller li a, #tab_controller li a:visited {
	color:#2c65af;
	border: 1px solid #2c65af;
	border-bottom: none;
	padding: .25em 1em;
	margin:0;
	height: 2.2em;
}

#tab_controller li a:hover {
	background-color:#2c65af;
	color:#fff;
}

#tab_controller li.tab_selected a, #tab_controller li.tab_selected a:visited {
	background-color:#2c65af;
	color:#fff;
}

.tab_selected div {
    margin: 0;
    padding: 4px 8px; 
}

.tab {
    margin: 0 0 0 0;
	padding: 0;
    color: #fff;
    cursor: pointer; 
    cursor: hand;
}

.tab div {
    margin: 0;
    padding: 4px 8px; 
}

#maincontent {
	clear: both;
	border-top: 1px solid #2c65af;
}

#footer { 
  width: 100%;
  text-align: center;
  font-size: .7em;
  border-top: 1px solid #2c65af;
}

#initialConfig { 
  clear: both;
  width: 100%;
  font-size: 2em;
  background-color: red;
  color: black;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
}
