html, body, form, fieldset, 3a9737, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin: 0;
	padding: 0;
}

body {
 	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	font-size:85%;
	color: #333;
}

div, p, ul, ol {
	font-size: 100%;	
}

h1, h2, h3, h4, p, ul, ol, dl {
	margin-top: 1em;
	margin-bottom: 0; 
	line-height: 1.4em;
}

h1 {
	padding-bottom: 0;
	font-size: 138.5%;
}

h2 {
	font-size: 123.1%;
}  

h3 {
	font-size: 108%;
}  

h4 {
	font-size: 100%;
}  

hr {
	margin: 1em 0 2em 0;
	width: 100%;
	border: 0;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
}


div.hr hr {
	display: none;
}

ul, ol {position: relative; }

ul, ol {
	margin-left: 0;
}

ul li {
  padding-left: 0;
  list-style-type: disc;
  background-repeat: no-repeat;
}

ul li ul, ul li ol {
	margin-left: 0;
	padding-bottom:0;
}

a, a:visited {
	color: #2c65af;
	text-decoration: none;
	font-weight:normal;
}

a:hover {
	color: #0f2659;
}

a#active {
	color: #2c65af;
}

table {
	border-collapse: collapse;
	border-color: #ccc;
	margin: 1em 0;
}

table.grid {
	border: 1px solid #666;
}

table.grid th {
	padding: .5em;
	font-size: 85%;
	color: #333;
	text-align: left;
}

table.grid td {
	padding: .5em;
	font-size: 73%;
	text-align: left;
	border-top: 1px solid #999; 
}

img {
	border: none;
}

label {
	margin: 1em .5em 0 0;
	display: block;
	float: left;
	width: 10em; 
	text-align: right;
}

fieldset {
	padding: 1em;
	width: 30em;
	border: 1px solid #999;
}

p#footer {
	border-top: 1px solid #ddd;
	margin-top: 10em;
	padding-top: .5em;
	text-align: center;
	color: #999;
	font-size: 73%;
}

#tab_controller ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 8px 0 0 0;
}

#tab_controller li {
    float: left;
	margin-top: 15px;
	list-style-type: none;
}

#tab_controller li.opsite {
	margin-left: 1.5em; 
	margin-right: 4em; 
	margin-top: 11px;
	font-size: 17px; 
	color:#1c3b83;  
}

#tab_controller li.logo {
    margin-top: 0;
	margin-left: 1em;
}

#tab_controller li a, #tab_controller li a:visited {
	color:#2c65af;
	border: 1px solid #2c65af;
	border-bottom: none;
	padding: .25em 1em;
	margin:0;
	height: 2.2em;
}

#tab_controller li a:hover {
	text-decoration: underline;
}

#tab_controller li.tab_selected a, #tab_controller li.tab_selected a:visited {
	background-color:#2c65af;
	color:#fff;
}

.tab_selected div {
    margin: 0;
    padding: 4px 8px; 
}

.tab {
    margin: 0 0 0 0;
	padding: 0;
    color: #fff;
    cursor: pointer; 
    cursor: hand;
}

.tab div {
    margin: 0;
    padding: 4px 8px; 
}

div.bordertop {
	clear:both;
	border-top: 1px solid #2C65AF;
}

#maincontent {
	margin: 0;
}

#maincontent div.container {
	padding: 0 1em 2em 1em;
	min-height: 400px;
}

#maincontent div.container table {
	border: 1px solid #ccc;
}

#maincontent div.container table td {
	padding: .5em;
}

#maincontent div.container table.htmltable {
	border: none;
}

#maincontent div.container table.htmltable td {
	padding: 0;
}

#maincontent h1 {
	margin: 0 0 1em 0;
	padding: .4em 1em .3em .8em;
	background-color: #6a96c5;
	color: #fff;
	font-weight: normal;
}

#maincontent h2 {
	margin: .5em 0 1em 1em;
}

#maincontent p {
	margin: 0 1em 1em 1em;
}

#maincontent ul {
	margin: 0 1em 1em 0;
}

#maincontent table {
	margin-top: 1em;
}

div.small {
	
	font-size: 85%;
}

#footer { 
  margin-top: 4em;
  padding: 1em;
  font-size: 73%;
  background-color: #eee;
  color: #999;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#initialConfig { 
	clear: both;
	font-size: 116%;
	border-bottom: 1px solid #2C65AF;
	padding: .5em 1em 1em 1em;
	background-color: #5893d2;
	color: #fff;
}

#initialConfig p {
	margin-top: .5em; 
}

#searchform ul {
	margin: 0;
	padding: 0;
}
